{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}
{% block main %}
    <h1>Формы (POST)</h1>
    <div>Тема лабораторной - post и сессии. Список сделанных страниц:</div>
    <ol>
        <li><a href="">куки</a></li>
        <li><a href="">удаление куки</a></li>
        <li><a href="">формы</a></li>
        <li><a href="">заказ напитков</a></li>
        <li><a href="">настройки</a></li>
        <li><a href="">ж/д билет</a></li>
        <li><a href="">поиск тайот в нужном диапазоне</a></li>
    </ol>
{% endblock %}