
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

/* Основные стили страницы */
body {
    background-color: whitesmoke; /* Светлый фон */
    color: black; /* Цвет текста */
    background-image: url('https://avatars.mds.yandex.net/i?id=cadff22328f8d2ff89ccc8d8f2cd6f0e_l-5236780-images-thumbs&n=13'); /* Ссылка на фоновое изображение */
    background-size: cover; /* Масштабирование фона по размеру экрана */
    background-position: center; /* Центрирование фона */
    background-attachment: fixed; /* Фон остается неподвижным при прокрутке */
    line-height: 0,8; 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
}

/* Стили для заголовка */
header {
    background-color: plum; /* Фон заголовка */
    color: white; /* Цвет текста в заголовке */
    padding: 10px; /* Внутренние отступы */
    text-align: left; /* Выравнивание текста по левому краю */
    width: 100%; /* Занимает всю ширину */
    position: relative; /* Позиционирование для размещения элементов */
}

header h1 {
    display: inline; /* Сохраняем заголовок в строке */
    font-size: 24px; /* Размер заголовка */
}



/* Стили для списка */
ol {
    list-style-type: none; /* Убираем маркеры */
    padding: 20px; /* Внутренние отступы для списка */
}

/* Стили для элементов списка */
ol li {
    margin: 15px ; 
}

/* Стили для ссылок */
a {
    display: block; /* Делает ссылки блочными, чтобы занимали всю ширину */
    background-color: lightgray; /* Фоновый цвет ссылок */
    color: black; /* Цвет текста ссылок */
    padding: 9px; /* Внутренние отступы */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Закругленные углы */
    transition: background-color 0.3s, transform 0.2s; /* Плавный переход */
}

a:hover {
    background-color: peru; 
    transform: scale(1.02); 
}

/* Стили для подвала */
footer {
    text-align: left; /* Выравнивание текста в подвале */
    padding: 10px; /* Внутренние отступы */
    background-color: plum; /* Фоновый цвет подвала */
    color: white; /* Цвет текста в подвале */
    position: relative; /* Позиционирование для правильного отображения */
    width: 100%; /* Занимает всю ширину */
    margin-top: auto; /* Сдвигает футер вниз, если контент занимает место */
}